$WHITE: #FFFFFF;
$BLACK: #000000;

$PRIMARY: #FF14BD;
$SECONDARY: #8B03FF;

$TETROMINO_0: #000000;
$TETROMINO_I: #50E3C2;
$TETROMINO_J: #245FDF;
$TETROMINO_L: #DFAD24;
$TETROMINO_O: #DFD924;
$TETROMINO_S: #30D338;
$TETROMINO_T: #843DC6;
$TETROMINO_Z: #E34E4E;
