@use '/src/styles/constants/colors';
@use '/src/styles/mixins/neon';

.container {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include neon.text(colors.$SECONDARY, $size: xx-large);
}

.gameButton {
  @include neon.border(colors.$SECONDARY, $hover: true);
  @include neon.text(colors.$GRAY, $size: xx-large);

  padding: 40px;
  cursor: pointer;
  background-color: colors.$BLACK;
  transition: 0.3s;
}
